<div class="flex min-h-screen items-center justify-center bg-gray-100 p-4">

    <div class="w-full max-w-md rounded-2xl bg-white p-8 shadow-xl">

        <div class="mb-8 flex flex-col items-center mt-[-33%]">
            <img src="assets/logoBG.png" alt="BarberAppLogo" class=" w-30" />
        </div>

        <div class="mb-10 mt-[-33%] text-center">
            <h1 class="text-5xl font-bold text-gray-900">Bem-Vindo!</h1>
            <p class="mt-4 text-gray-500 text-[18px]">Faça login para continuar</p>
        </div>

        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="relative mb-4">
                <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3.5">
                    <img src="assets/emailLogo.png" alt="emailLogo" class="h-4" />
                </div>

                <input type="email" placeholder="E-mail"
                    class="w-full rounded-lg border border-gray-300 py-3 pl-11 pr-4 text-gray-900 placeholder-gray-500 focus:border-purple-500 focus:outline-none focus:ring-2 focus:ring-purple-500"
                    formControlName="email" />
            </div>

            <div *ngIf="f['email'].touched && f['email'].invalid" class="text-red-500 text-sm mb-2">
                <div *ngIf="f['email'].errors?.['required']">
                    O e-mail é obrigatório.
                </div>
                <div *ngIf="f['email'].errors?.['email']">
                    Formato de e-mail inválido.
                </div>
            </div>

            <div class="relative mb-4">
                <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3.5">
                    <img src="assets/senhaLogo.png" alt="passwordLogo" class="h-5 " />
                </div>

                <input type="password" placeholder="Senha"
                    class="w-full rounded-lg border border-gray-300 py-3 pl-11 pr-11 text-gray-900 placeholder-gray-500 focus:border-purple-500 focus:outline-none focus:ring-2 focus:ring-purple-500"
                    formControlName="password" />
            </div>

            <div *ngIf="f['password'].touched && f['password'].invalid" class="text-red-500 text-sm mb-2">
                <div *ngIf="f['password'].errors?.['required']">
                    A senha é obrigatória.
                </div>
            </div>

            <button type="submit" class="mb-4 w-full rounded-lg bg-purple-600 py-3 text-white"
                [disabled]="loginForm.invalid">
                Entrar
            </button>
        </form>

        <div class="text-center text-sm text-gray-500 text-[17px]">
            Não tem uma conta?
            <a href="/register" class="font-semibold text-purple-600 hover:underline">
                Cadastre-se
            </a>
        </div>

    </div>
</div>