<div class="flex min-h-screen items-center justify-center bg-gray-100 p-4">

    <div class="w-full max-w-md rounded-2xl bg-white p-8 shadow-xl">

        <div class="mb-8 flex flex-col items-center mt-[-33%]">
            <img src="assets/logoBG.png" alt="BarberAppLogo" class=" w-30" />
        </div>

        <div class="mb-10 mt-[-33%] text-center">
            <h1 class="text-5xl font-bold text-gray-900">Crie sua conta!</h1>
            <p class="mt-4 text-gray-500 text-[18px]">Preencha os dados para se registrar</p>
        </div>

        <form [formGroup]="registerForm" (ngSubmit)="Register()">

            <div class="relative mb-4">
                <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3.5">
                    <img src="assets/person.png" alt="person" class="h-5" />
                </div>


                <input type="text" placeholder="Nome completo"
                    class="w-full rounded-lg border border-gray-300 py-3 pl-11 pr-4 text-gray-900 placeholder-gray-500 focus:border-purple-500 focus:outline-none focus:ring-2 focus:ring-purple-500"
                    formControlName="name" />
            </div>
            <div *ngIf="f['name'].touched && f['name'].invalid" class="text-red-500 text-sm mb-2">
                <div *ngIf="f['name'].errors?.['required']">O nome completo é obrigatório.</div>
                <div *ngIf="f['name'].errors?.['minLength']">O nome precisa ter pelo menos 3 caracteres.</div>
            </div>

            <div class="relative mb-4">
                <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3.5">
                    <img src="assets/person.png" alt="personcpf" class="h-5" />
                </div>

                <input type="text" placeholder="CPF (ex: 123.456.789-00)"
                    class="w-full rounded-lg border border-gray-300 py-3 pl-11 pr-4 text-gray-900 placeholder-gray-500 focus:border-purple-500 focus:outline-none focus:ring-2 focus:ring-purple-500"
                    formControlName="cpf" />
            </div>
            <div *ngIf="f['cpf'].touched && f['cpf'].invalid" class="text-red-500 text-sm mb-2">
                <div *ngIf="f['cpf'].errors?.['required']">O CPF é obrigatório.</div>
                <div *ngIf="f['cpf'].errors?.['pattern']">Formato de CPF inválido (use 123.456.789-00).</div>
            </div>

            <div class="relative mb-4">
                <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3.5">
                    <img src="assets/emailLogo.png" alt="emailLogo" class="h-4" />
                </div>

                <input type="email" placeholder="E-mail"
                    class="w-full rounded-lg border border-gray-300 py-3 pl-11 pr-4 text-gray-900 placeholder-gray-500 focus:border-purple-500 focus:outline-none focus:ring-2 focus:ring-purple-500"
                    formControlName="email" />
            </div>
            <div *ngIf="f['email'].touched && f['email'].invalid" class="text-red-500 text-sm mb-2">
                <div *ngIf="f['email'].errors?.['required']">O e-mail é obrigatório.</div>
                <div *ngIf="f['email'].errors?.['email']">Formato de e-mail inválido.</div>
            </div>

            <div class="relative mb-4">
                <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3.5">
                    <img src="assets/phone.png" alt="phoneLogo" class="h-5" />
                </div>

                <input type="phone" placeholder="Telefone"
                    class="w-full rounded-lg border border-gray-300 py-3 pl-11 pr-4 text-gray-900 placeholder-gray-500 focus:border-purple-500 focus:outline-none focus:ring-2 focus:ring-purple-500"
                    formControlName="phone" />
            </div>
            <div *ngIf="f['phone'].touched && f['phone'].invalid" class="text-red-500 text-sm mb-2">
                <div *ngIf="f['phone'].errors?.['required']">O telefone é obrigatório.</div>
            </div>

            <div class="relative mb-4">
                <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3.5">
                    <img src="assets/senhaLogo.png" alt="passwordLogo" class="h-5 " />
                </div>

                <input type="password" placeholder="Senha"
                    class="w-full rounded-lg border border-gray-300 py-3 pl-11 pr-11 text-gray-900 placeholder-gray-500 focus:border-purple-500 focus:outline-none focus:ring-2 focus:ring-purple-500"
                    formControlName="password" />
            </div>
            <div *ngIf="f['password'].touched && f['password'].invalid" class="text-red-500 text-sm mb-2">
                <div *ngIf="f['password'].errors?.['required']">A senha é obrigatória.</div>
                <div *ngIf="f['password'].errors?.['minLength']">A senha precisa ter no mínimo 6 caracteres.</div>
            </div>

            <button type="submit"
                class="mb-4 w-full rounded-lg bg-purple-600 py-3 text-lg font-semibold text-white transition-colors hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-500 focus:ring-offset-2"
                [disabled]="registerForm.invalid || isLoading"> <span *ngIf="!isLoading">Cadastrar</span>
                <span *ngIf="isLoading">Cadastrando...</span>

            </button>
        </form>

        <div class="text-center text-sm text-gray-500 text-[17px]">
            Já tem uma conta?
            <a href="/" class="font-semibold text-purple-600 hover:underline">
                Entrar
            </a>
        </div>

    </div>
</div>